.hero-container{
  display: flex;
}

.hero-content-left {
  margin-top: 130px;
}

.hero-slogan {
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: 700;
  color: #DF6951;
}

.hero-heading-container {
  margin-top: 24px;
  margin-bottom: 30px;
}

.hero-heading-container span {
  font-size: 84px;
  font-family: 'Volkhov';
  font-weight: 700;
  color: #181E4B;
}

p {
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 500;
  color: #5E6282;
  line-height: 30px;
}

.hero-btn {
  display: flex;
  align-items: center;
  margin-top: 34px;
}

.hero-btn .play-btn-container {
  display: flex;
  align-items: center;
  margin-left: 44px;
}

.play-icon{
  position: relative;
  display: block;
  width: 52px;
  height: 52px;
  background-color: #DF6951;
  border-radius: 50%;
  margin-right: 21px;
}

.play-icon::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 53%;
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  transform: translate(-50%, -50%);
}
