@font-face {
  font-family: 'Google sans';
  src: url('/public/font/GoogleSansCode-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Google sans';
}